*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
}
header nav .search{
    display: flex;
}
header > nav > ul > li {
    list-style: none !important;
    text-decoration: none!important;
}

header > nav > ul > li > a {
    display: flex;
    flex-direction: column;
}